<div class="login__block active" id="l-login">
  <div class="login__block__header">
    <i class="zmdi zmdi-account-circle"></i>
    Hi there! Please Sign in
  </div>

  <div class="login__block__body">
    <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group form-group--float form-group--centered">
        <%= f.input :email, autofocus: true, input_html: { autocomplete: "email", class: "form-control" } %>
      </div>

      <div class="form-group form-group--float form-group--centered">
          <%= f.input :password, input_html: { autocomplete: "current-password", class: "form-control" } %>
      </div>

      <%= f.button :submit, "Sign-in", class: "btn btn-success" %>
    <% end %>
  </div>
</div>